In [1]:
my_range = spark.range(1000)
print(my_range.collect())

numbers = my_range.toDF("number")
print(numbers.collect())

In [2]:
divis_by_2 = numbers.where("number % 2 = 0")
divis_by_2.collect()

In [3]:
divis_by_2.count()

In [4]:
divis_by_2.printSchema()

### End-To-End Example

In [6]:
flight_data = spark.read.csv('/FileStore/tables/2015_summary-ebaee.csv', header='true')
flight_data.take(3)

In [7]:
flight_data.toPandas()

In [8]:
from pyspark.sql.types import StructField, StructType, StringType, LongType

flight_schema = StructType([
  StructField('DEST_COUNTRY_NAME', StringType(), True),
  StructField('ORIGIN_COUNTRY_NAME', StringType(), True),
  StructField('count', LongType(), False, metadata={"descr": "data from some company"})
])

df = spark.read.format('csv').schema(flight_schema).load('/FileStore/tables/2015_summary-ebaee.csv')
df.show()

In [9]:
from pyspark.sql.functions import col, expr

expression = expr('(((count + 5) * 200) - 6) < 5000')
df.withColumn('new_column', expression).show()

In [10]:
print(df.columns)

In [11]:
my_row = Row("hi", None, 12, False)

print(my_row[0])
print(my_row[1])
print(my_row[1:])
print(my_row[-1])

In [12]:
df.createOrReplaceTempView('df_table')

In [13]:
%sql
SELECT * FROM df_table

In [14]:
query = """
  SELECT count * 10, ORIGIN_COUNTRY_NAME as origin FROM df_table
  WHERE ORIGIN_COUNTRY_NAME <> 'Romania'
"""

spark.sql(query).show()
df.select('DEST_COUNTRY_NAME').show(2)